body{
    background:#eef5ff;
    font-family:'Segoe UI',sans-serif;
}

.navbar{
    background:#0d6efd;
}

.hero{
    background:linear-gradient(135deg,#0d6efd,#4dabf7);
    color:white;
    padding:60px;
    text-align:center;
}

.card{
    border:none;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.footer{
    background:#0d6efd;
    color:white;
    padding:20px;
    text-align:center;
    margin-top:50px;
}

.btn-primary{
    border-radius:30px;
}

input{
    border-radius:10px !important;
}
/* ==============================
   Instructions Box
============================== */

.instructions{
    background: #eef7ff;
    border-left: 6px solid #0d6efd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.instructions h4{
    color: #0d6efd;
    font-weight: bold;
    margin-bottom: 15px;
}

.instructions p{
    color: #333;
    font-size: 16px;
}

.instructions ul{
    margin-left: 20px;
    margin-top: 10px;
}

.instructions li{
    margin-bottom: 8px;
    color: #444;
}

.instructions strong{
    color: #0d6efd;
}
.feature-info{
    display:block;
    color:#6c757d;
    font-size:13px;
    margin-top:4px;
    font-style:italic;
}

.form-label{
    font-weight:600;
}